<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>


  <body>
   <table>
	 <tr>
   </tr>
-------------这个软件做什么的？-------------<br/>
帮助大家抢奶粉，现在奶粉贩子太多，导致很多妈妈无法购买奶粉，这个软件就是在网站奶粉上架后，第一时间发邮件通知。<br/>
软件分成2个部分，1个是实时在线查询库存（正在开发），1个是到货邮件提醒系统。<br/>

<br/>
-------------怎么得到邮件提醒？-------------<br/>
加入QQ群：321055306, 私信群主你的信箱号,以后就可以收到邮件提醒了。<br/>
发邮件给本人： watch_aptamil@163.com,  留下你的信箱。 <br/>
QQ 发消息给： 4006664.<br/>
<br/>
-------------都监视了哪些网站？-------------<br/>
W家 爱他美， HIPP  	  (可显示库存)<br/>
Boots 爱他美   			 英国网站<br/>
BabyNeo 爱他美    (暂停)<br/>
Ross家      爱他美   (暂停) <br/>
Amazon De   (开发中)<br/>
allyouneed   (开发中)<br/>
<br/>
-------------可以指定监视哪个网站，哪个产品吗？-------------<br/>
暂时不行，本人是业余时间开发， 现在已经有了100多个妈妈加入， 实在是无法为每个妈妈定制。 <br/>
如果有需要定制的，需要收费。<br/>
<br/>
-------------软件收费吗？-------------<br/>
暂时不收费， 软件使用Google App Engine，这个服务是收费的。 以后如果费用高于作者承受范围，会开始收费， 5-10元/月。<br/>
<br/>

-------------怎么刷W家网站？ 我可以自己刷吗？-------------<br/>
W家网站对国内IP歧视，所以翻墙购买的方式已经不行，直接不翻墙去刷。但是价格是比德国人买贵的。<br/>
刷爱他美： http://www.windeln.de/aptamil-milchnahrung.html<br/>
刷HIPP： <br/>
      1, http://www.windeln.de/hipp-milchnahrung-combiotik.html<br/>
	  2, http://www.windeln.de/hipp-milchnahrung.html<br/>
<br/>
-------------刷W家的技巧-------------<br/>
为了加快购买速度，请先登录， 翻墙， 然后你会看到所有的爱他美都有货， 把你需要的段加入购物车。<br/>
收到到货提醒邮件， 直接登录， 不翻墙， 查看购物车， 确认你购买的段， 结帐。<br/>
<br/>
-------------W家，为什么你刷出来，我刷不出来？-------------<br/>
W家是针对不同的IP，不同的客户，显示不同的库存的。所以如果你手工去刷的话，请登录以后再刷。 <br/>
<br/>
-------------怎么翻墙？-------------<br/>
请谨慎使用VPN,代理， 任何翻墙行为都有可能引起倒刷。<br/>
作者推荐使用goagent翻墙：https://code.google.com/p/goagent/<br/>
注意设置连接为加密链接 https<br/>
<br/>
-------------你能帮我代购吗？-------------<br/>
sorry，本人只是两个孩子的爸爸，是为BB有粮吃才做的这个软件。 鄙视倒奶粉的贩子！<br/>
实在是有妈妈没有时间抢，或者因为2，3段的爱他美实在是1个月就上那么1，2次， 可以联系本人帮助购买，但也仅限于帮助在w家下单。<br/>


<br/>
<br/>
<br/>


</table>
  </body>
</html>