<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<html>
<head>

</head>


  <body>
  	<table  style="margin:auto;margin-top:10%;">
  	<tr>
   		<td><a href="<%=request.getContextPath()%>/zara/searchzaramen"><img src="<%=request.getContextPath()%>/images/zaramen.jpg"  width="200" /></a></td>
   		<td><a href="<%=request.getContextPath()%>/zara/searchzarawomen"><img src="<%=request.getContextPath()%>/images/zarawomen.jpg"  width="200" /></a></td>
   		<td><a href="<%=request.getContextPath()%>/zara/searchzaraboy"><img src="<%=request.getContextPath()%>/images/zaraboy.jpg"  width="200" /></a></td>
   		<td><a href="<%=request.getContextPath()%>/zara/searchzaragirl"><img src="<%=request.getContextPath()%>/images/zaragirl.jpg"  width="200" /></a></td>
  	<td><a href="<%=request.getContextPath()%>/zara/customersearch"><img src="<%=request.getContextPath()%>/images/customersearch.jpg"  ></a></td>
   		
  	<tr>
  	</table>
  		<table style="margin:auto;margin-top:10%;">
  		<tr>
    	<td><a href="<%=request.getContextPath()%>"><img src="<%=request.getContextPath()%>/images/Home.png"  ></a></td>
   			</tr>
  		</table>
   </body>
</html>
	