<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<html>
<head>

</head>


  <body>
  	<table  style="margin:auto;margin-top:10%;">
  	<tr>
   	<!--	<td><a href="<%=request.getContextPath()%>/neiman/searchtommymen"><img src="<%=request.getContextPath()%>/images/tommymen.jpg"  width="200" /></a></td> -->
   		<!--	<td><a href="<%=request.getContextPath()%>/neiman/searchneimanwomen"><img src="<%=request.getContextPath()%>/images/neimanwomen.jpg"  width="200" /></a></td> -->
   		<td><a href="<%=request.getContextPath()%>/neiman/searchneimanwomen">女装</a></td>
   		<td><a href="<%=request.getContextPath()%>/neiman/searchneimanmakeup">化妆品</a></td>
   	  	<!--	<td><a href="<%=request.getContextPath()%>/neiman/searchtommyboy"><img src="<%=request.getContextPath()%>/images/tommyboy.jpg"  width="200" /></a></td>-->
   	  	<!--	<td><a href="<%=request.getContextPath()%>/neiman/searchtommygirl"><img src="<%=request.getContextPath()%>/images/tommygirl.jpg"  width="200" /></a></td>-->
  	  	<!--<td><a href="<%=request.getContextPath()%>/neiman/customersearch"><img src="<%=request.getContextPath()%>/images/customersearch.jpg"  ></a></td>   		 -->
  	<tr>
  	</table>
  		<table style="margin:auto;margin-top:10%;">
  		<tr>
    	<td><a href="<%=request.getContextPath()%>"><img src="<%=request.getContextPath()%>/images/Home.png"  ></a></td>
   			</tr>
  		</table>
   </body>
</html>
	