<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<html>
<head>

</head>


  <body>
  	<table  style="margin:auto;margin-top:10%;">
  	<tr>
   	<!--	<td><a href="<%=request.getContextPath()%>/sephora/searchsephorasale"><img src="<%=request.getContextPath()%>/images/tommymen.jpg"  width="200" /></a></td> -->
   		<td><a href="<%=request.getContextPath()%>/sephora/searchsephorasale"><img src="<%=request.getContextPath()%>/images/sephora.gif"  width="200" /></a></td>
   	  	<!--	<td><a href="<%=request.getContextPath()%>/sephora/searchtommyboy"><img src="<%=request.getContextPath()%>/images/tommyboy.jpg"  width="200" /></a></td>-->
   	  	<!--	<td><a href="<%=request.getContextPath()%>/sephora/searchtommygirl"><img src="<%=request.getContextPath()%>/images/tommygirl.jpg"  width="200" /></a></td>-->
  	  		<!--<td><a href="<%=request.getContextPath()%>/sephora/customersearch"><img src="<%=request.getContextPath()%>/images/customersearch.jpg"  ></a></td>   	-->	
  	<tr>
  	</table>
  		<table style="margin:auto;margin-top:10%;">
  		<tr>
    	<td><a href="<%=request.getContextPath()%>"><img src="<%=request.getContextPath()%>/images/Home.png"  ></a></td>
   			</tr>
  		</table>
   </body>
</html>
	